<div class="container">
    <div class="row marketing">
        <!--<a href="#/new" class="btn btn-success" role="button">Post a job</a>-->
    </div>
    
    <div class="row marketing">
        
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="search for job" ng-model="jobsearch">
        </div>

        <ol>
            <li ng-repeat="job in jobs | filter: jobsearch">
                <h2><a href="#/view/{{job.$id}}">{{job.title}}</a></h2>
                <p>
                <span>by {{job.companyName}} | {{job.salaryFrom}} - {{job.salaryTo}} | {{job.city}} | </span>
                <span ng-if="job.state">{{job.state}} | </span>
                <span>{{job.country}}</span>
                </p>
                <p>
                <span ng-if="job.remote" class="label label-success">remote</span>
                <span ng-if="job.flexitime" class="label label-success">flexi time</span>
                <span ng-if="job.parental" class="label label-success">parental leave</span>
                <span class="ago" am-time-ago="job.postedDate"></span>
                </p>
            </li>
        </ol>
    
    </div>

    <div class="row">
        <p class="noroute" ng-show="!jobs.length">loading...</p>
    </div>
</div>
