
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 70px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.noroute {
  text-align: center;
}


/* tables */
.clickable tr {
  cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #333;
  color:whitesmoke;
}


/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: white; 
  color: #333; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; margin-top: 5px;}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "From"; }
	td:nth-of-type(2):before { content: "To"; }
	td:nth-of-type(3):before { content: "By"; }
	td:nth-of-type(4):before { content: "Start"; }
	td:nth-of-type(5):before { content: "Arrive"; }
	td:nth-of-type(6):before { content: "Duration"; }
	td:nth-of-type(7):before { content: "Note"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
}





.img {
    position: relative;
    float: left;
    width:  300px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}




/* login and join form */
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    text-align:  center;
    margin-bottom: 1em;
}


.form-control {
  font-size: 1.8rem;
}


.btn {
  font-size: 2rem;
}

.label {
  font-size: 1.6rem;
}

.job-location-label{
  margin-top:10px;
  font-size: 2.5rem;
  color:#5cb85c;
}

.job-location-description {
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-size: 2.3rem;
}

.job-description {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem

}

h1.job-title {
  margin-bottom: 20px;
}

input:not([type='submit']), textarea {
  font-family: 'Open Sans Condensed', sans-serif;
}

.form-horizontal .control-label{
    text-align: left;
}

span, select, trix-editor {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}

.label {
  font-family: 'Amatic SC', cursive;
}

.badge {
  background-color: white;
  color:#5cb85c;
}

input.ng-invalid.ng-touched, trix-editor.ng-invalid.ng-touched {
    border-color: #FA787E;
}

@media (max-width: 767px) {
    .navbar-right {
        float: right !important;
        margin-right: 1px;
    }
    .navbar-header {
        float: left !important;
    }
    .navbar-nav > li {
        float: left !important;
    }

    h2 {
      font-size: 2.4rem;
    }

    span {
      font-size:1.3rem;
    }

    .label {
      font-size:1.5rem;
    }
}
